* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: #2C3E50;
}

#jumbotron,
#about {
    background-color: #1ABC9C;
}

#start,
#form {
    height: 300px;
}

#social {
    background-color: #3A546D;
}

#privacy {
    background-color: #2C3E50;
}

#privacy_text {
    font-size: 12px;
}